{% if zookeeper_auth_type == 'gssapi' %}
{% if zookeeper_auth_client_enabled %}
Client {
    com.sun.security.auth.module.Krb5LoginModule {{ zookeeper_auth_required | ternary('required', 'optional') }} 
    debug={{ zookeeper_jaas_debug }}
    useKeyTab=true
    storeKey=true
    useTicketCache=false
    keyTab="{{ zookeeper_kerberos_keytab_location }}"
    principal="{{ zookeeper_kerberos_principal }}";
};

Server {
    com.sun.security.auth.module.Krb5LoginModule {{ zookeeper_auth_required | ternary('required', 'optional') }} 
    debug={{ zookeeper_jaas_debug }}
    useKeyTab=true
    storeKey=true
    useTicketCache=false
    keyTab="{{ zookeeper_kerberos_keytab_location }}"
    principal="{{ zookeeper_kerberos_principal }}";
};
{% endif %}
{% if zookeeper_auth_quorum_enabled %}
QuorumServer {
    com.sun.security.auth.module.Krb5LoginModule {{ zookeeper_auth_required | ternary('required', 'optional') }} 
    debug={{ zookeeper_jaas_debug }}
    useKeyTab=true
    storeKey=true
    keyTab="{{ zookeeper_kerberos_keytab_location }}"
    principal="{{ zookeeper_kerberos_principal }}";
};

QuorumLearner {
    com.sun.security.auth.module.Krb5LoginModule {{ zookeeper_auth_required | ternary('required', 'optional') }} 
    debug={{ zookeeper_jaas_debug }}
    useKeyTab=true
    storeKey=true
    keyTab="{{ zookeeper_kerberos_keytab_location }}"
    principal="{{ zookeeper_kerberos_principal }}";
};
{% endif %}
{% elif zookeeper_auth_type == 'digest' %}
{% if zookeeper_auth_client_enabled %}
Server {
    org.apache.zookeeper.server.auth.DigestLoginModule {{ zookeeper_auth_required | ternary('required', 'optional') }}
    user_{{ zookeeper_auth_users_kafka_username }}="{{ zookeeper_auth_users_kafka_password }}";
};
{% endif %}

{% if zookeeper_auth_quorum_enabled %}
QuorumServer {
       org.apache.zookeeper.server.auth.DigestLoginModule {{ zookeeper_auth_required | ternary('required', 'optional') }}
       user_{{ zookeeper_auth_users_quorum_username }}="{{ zookeeper_auth_users_quorum_password }}";
};

QuorumLearner {
       org.apache.zookeeper.server.auth.DigestLoginModule {{ zookeeper_auth_required | ternary('required', 'optional') }}
       username="{{ zookeeper_auth_users_quorum_username }}"
       password="{{ zookeeper_auth_users_quorum_password }}";
};
{% endif %}
{% endif %}








