{% if amqstreams_java_home is defined -%}
JAVA_HOME={{ amqstreams_java_home }}
{% endif -%}
LOG_DIR={{ kafka_connect_log4j_dir }}
KAFKA_OPTS={{ _kafka_connect_java_opts | join(' ') }}
KAFKA_HEAP_OPTS=-Xmx{{ kafka_connect_max_heap }} -Xms{{ kafka_connect_min_heap }}
{% if kafka_connect_jmx_enabled | bool %}
KAFKA_JMX_OPTS="-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.authenticate=false  -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.port={{ kafka_connect_jmx_management_port }}"
{% endif %}
