---
- name: Ensures prereqs are fullfilled
  ansible.builtin.include_tasks: prereqs.yml

- name: Ensures user exists
  ansible.builtin.include_role:
    name: kafka_install
    tasks_from: user.yml

- name: Create config dir for Kafka
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ kafka_user }}"
    group: "{{ kafka_group }}"
    mode: 0755
  with_items:
    - "{{ kafka_home }}/config"
    - "{{ kafka_log4j_dir }}"
    - "{{ kafka_log_dirs }}"
  become: true

- name: Ensure Admin 
  ansible.builtin.include_tasks: setup_admin.yml

- name: Set KRaft Facts
  ansible.builtin.include_tasks: set_kraft_facts.yml
  when: 
  - kafka_kraft_mode | default(false)

- name: Set Zookeeper Facts
  ansible.builtin.include_role:
    name: kafka_systemd_zookeeper
    tasks_from: set_zk_facts.yml
  vars:
    zookeeper_servers_ansible_group: "{{ kafka_zookeeper_servers_ansible_group }}"
  when: 
  - not (kafka_kraft_mode | default(false))
  
- name: Check Zookeeper Facts are set
  ansible.builtin.assert:
    that:
      - zookeeper_servers is defined
    quiet: yes
  when: 
  - not (kafka_kraft_mode | default(false))

- name: Set Zookeeper Connect Servers Fact
  ansible.builtin.set_fact:
    kafka_zookeeper_connect_servers: |-
      {{
        zookeeper_servers | map(attribute='address') |
        zip(zookeeper_servers | map(attribute='client_port')) |
        map('join', ':')
      }}
  when: 
  - not (kafka_kraft_mode | default(false))

- name: Debug Kakfa Java Ops
  ansible.builtin.debug: var=kafka_java_opts

- name: Debug Kafka zookeeper.connect.servers
  ansible.builtin.debug: var=kafka_zookeeper_connect_servers
  when: 
  - not (kafka_kraft_mode | default(false))

- name: Setup security resources
  ansible.builtin.include_tasks: setup_security.yml
  with_items: "{{ __kafka_config.listeners | dict2items }}"

- name: Create systemd unit file
  ansible.builtin.template:
    src: kafka.service.j2
    dest: "{{ kafka_service_file }}"
    owner: root
    group: root
    mode: 0644
    backup: "{{ kafka_template_backup }}"
  become: true
  notify:
    - Reload systemd
    - Restart kafka

- name: Create environment configuration file
  ansible.builtin.template:
    src: kafka.j2
    dest: "{{ kafka_service_environment_file }}"
    mode: 0644
    backup: "{{ kafka_template_backup }}"
  notify: Restart kafka
  become: true

- name: Create {{ kafka_server_properties_file_name }} configuration file
  ansible.builtin.template:
    src: "{{ kafka_server_properties_template }}"
    dest: "{{ kafka_server_properties_file }}"
    owner: "{{ kafka_user }}"
    group: "{{ kafka_group }}"
    mode: 0400
    backup: "{{ kafka_template_backup }}"
  notify: Restart kafka
  become: true

- name: Ensure storage is formatted 
  ansible.builtin.include_tasks: setup_storage.yml
  when: 
  - kafka_kraft_mode
  - not(kafka_skip_setup_storage | bool)

# ---------------------------
# Enable Kafka Service
# ---------------------------
- name: Enable kafka
  ansible.builtin.service:
    name: "{{ kafka_service_name }}"
    enabled: true
  when: not ansible_check_mode
  become: true

- name: Run Handlers
  ansible.builtin.meta: flush_handlers